{{- if .Page.Site.Params.BookPortableLinks -}}
  {{- template "portable-image" . -}}
{{- else -}}
  <img src="{{ .Destination | safeURL | relURL }}" alt="{{ .Text }}" {{ with .Title }}title="{{ . }}"{{ end }}/>
{{- end -}}

{{- define "portable-image" -}}
  {{- $isRemote := or (in .Destination "://") (strings.HasPrefix .Destination "//") }}
  {{- $finalDestination := .Destination }}
  {{- if not $isRemote }}
    {{- $path := "" }}
    
    {{- if strings.HasPrefix .Destination "/" }}
      {{- $path = print "/static" .Destination }}
    {{- else if strings.HasPrefix .Destination "images/" }}
      {{- $path = print "/static/" .Destination }}
    {{- else if strings.HasPrefix .Destination "./assets/" }}
      {{- $assetPath := strings.TrimPrefix "./assets/" .Destination }}
      {{- $path = print "content/" .Page.File.Dir "assets/" $assetPath }}
      {{- $sectionPage := .Page }}
      {{- if not .Page.IsSection }}
        {{- if .Page.Parent }}
          {{- $sectionPage = .Page.Parent }}
        {{- end }}
      {{- end }}
      {{- $finalDestination = print $sectionPage.RelPermalink "assets/" $assetPath }}
    {{- else }}
      {{- $path = print "content/" .Page.File.Dir .Destination }}
    {{- end }}
    
    {{- if and $path (not (fileExists $path)) }}
      {{- warnf "Image '%s' not found in '%s' (checked path: '%s')" .Destination .Page.File $path }}
    {{- end }}
  {{- end }}
  <img src="{{ if $finalDestination }}{{ $finalDestination | safeURL | relURL }}{{ else }}{{ .Destination | safeURL | relURL }}{{ end }}" alt="{{ .Text }}" {{ with .Title }}title="{{ . }}"{{ end }}/>
{{- end -}}